<div class="container">
  <p class="lead">{{contatto.getFullContatto()}}</p>
  <div class="row">
    <div class="col-sm-3 mt-2">Nome:</div>
    <div class="col-sm-3 mt-2">
      <input type="text" class="in" [(ngModel)]="contatto.nome">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-2">Cognome:</div>
    <div class="col-sm-3 mt-2">
      <input type="text" class="in" [(ngModel)]="contatto.cognome">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-2">Mail:</div>
    <div class="col-sm-3 mt-2">
      <input type="text" class="in" [(ngModel)]="contatto.mail">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-2">Cellulare:</div>
    <div class="col-sm-3 mt-2">
      <input type="text" class="in" [(ngModel)]="contatto.cell">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-2">Numero Stelle:</div>
      <div class="col-sm-3 mt-2">
        <input type="text" class="in" [(ngModel)]="contatto.nrStelle">
      </div>
  </div>
</div>
